body {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1cm;
    padding: 1mm;
  }
h1 {
    text-align: center;
    text-decoration: underline;
    margin-left: 10mm;
    font-size: 15mm;
    color: rgb(82, 19, 19);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
form {
    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
    line-height: 12mm;
    padding: 5mm;
    margin-right: 5cm;
    margin-left: 8cm;
    color: rgb(22, 22, 26);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
button {
    margin-left: 6cm;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6mm;
    background-color: red;
    border-color: black;
}
h2 {
    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
    margin-left: 8cm;
    font-size: 1cm;
    color: rgb(13, 22, 13);
}